*{
    margin: 0;
    box-sizing: border-box;
    padding:0;
    font-family: 'Montserrat Alternates';
    font-size: large;
    color:white;
}

nav{
    display: flex;
    justify-content: space-between;
    height:15vh;
    background-color: #5f4769;

}

section{
    height:85vh;
    width:100%;
    background-color:  rgba(228, 218, 218, 0.966);
}

footer{
    height:5vh;
    width: 100%;
    background-color: #5f4769;
    display: flex;
}

.spanclickable{
    cursor: pointer;
}

.newarray{
    width:20%;
    border-right: 1px solid white;
    text-align: center;
    position: relative;
}

.hoverable{
    transition: all 0.2s ease-in-out;
}

.hoverable:hover{
    transform: scale(1.15);
}


#generatenewarray{
    position: absolute;
    top:40px;
    left:40px;

}


.algorithms{
    width: 30%;
    border-right: 1px solid white;
    position: relative;
}
.algorithmslist{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    top:40px;
    left:40px;
}

.algos{
    margin-right: 40px;
}

.visualizer{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    /* transform: rotate(180deg) scaleX(-1); */
}

#spansort{
    display: none;
    position: absolute;
    top:40px;
    left:120px;
    
}

.sort{
    width: 20%;
    position: relative;
}

.sizeofarray{
    width: 30%;
    border-right: 1px solid white;
    position: relative;
}

.changearraysize{
    position: absolute;
    left: 140px;
    top:20px;
}


.slidecontainer{
    position: absolute;
    left: 150px;
    top:60px;
}


.disable{
    color:black;
    pointer-events: none;
    /* text-decoration: line-through; */
}

.selected{
    color:pink;
    text-decoration: underline;
}
